*,::before,::after{
    margin: 0;
    padding: 0;
   
}


header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 35vh;
    /* border: solid red 2px; */
    background-image: url('../assets/img/bureau_header.jpg');
    background-position: 50% 45%;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #C2356B double 4px;
    

}

.logo-nav-container{
    /* border: solid blue 2px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 6rem;
    max-height: 6rem;

}

.header-nav{
    /* border: solid grey 3px; */
    display: flex;
    flex-direction: row;
   
}

.header-ul{
    display: flex;
    width: 100%;
    /* border: solid purple 2px; */
    justify-content: flex-end;
    align-items: center;
}

.header-ul li{
    margin-right: 1rem;
}

.header-ul li a{
    background-color: #fff;
    
}

.header-ul li a:hover{
    background-color: #C2356B;
    color: #fff;
    
}
.header-logo{
    width:6rem;
    height: 6rem;
    object-fit: content;
    /* border: solid yellow 3px; */
}

.title-container{
    width: 100%;
    text-align: center;
     min-width: 12rem; 
   
    
}

.title-container h1{
    color: #C2356B;
    font-weight: 600;
    font-size:3rem;
    font-style: italic;   
}


a{
    text-decoration: none;
    border: double #C2356B 4px;
    border-radius: 25px;
    padding: 0.3rem;
    color: #C2356B;
    font-weight: 700;
    font-size: large;
}

a:hover{
color: #fff;
background-color: #C2356B;
/* border: yellowgreen solid 2px;     */
}

a:active{
    color: #C2356B;
    /* border: #C2356B double 4px;     */
    }
